<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="/scripts/reg.js"></script>
    <link href='http://ufonts.com/fonts/roman-caps.html' title='Roman Caps Font Download - ufonts.com'></link>
  </head>

  <body class='home'>

    <% include ./partial/_navbar2.ejs %>

    <h1>Coupon Warrior</h1>
    <div class="search">
      <form class='regForm' action="/users/register" method="post">
        <input id='emailReg' name="email" type="text" placeholder="What's your email?"/>

        <input id='passReg' name="password" type="password" placeholder="Choose a password"/>

        <div class="regBtn">
          <input id='regBtn' type="submit"/>
        </div>
    </form>
    </div>
  </body>
</html>
