<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>login page</title>
      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script src="./scripts/app.js"></script>
  </head>

  <body>
    <div>
      <h1>Login</h1>
      <div class='formdata'>
        <form action="/login" method="post">

          <label for="email">Your email address?</label>
          <input id='emailLogin' name="email" type="text"/>
          <br/>

          <label for="password">Your safe word?</label>
          <input id='passLogin' name="password" type="password"/>
          <br/>

          <input id='loginBtn' type="submit"/>
        </form>
      </div>
    </div>

  </body>
</html>
