<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Coupon Warrior | Register</title>
  </head>
  <body>
    <h1>Register</h1>

    <form action="/register" method="post">
      <label for="email">What's your email?</label>
      <input name="email" type="text"/>
      <br/>

      <label for="password">Choose a Password</label>
      <input name="password" type="password"/>
      <br/>

      <input type="submit"/>
    </form>
  </body>
</html>
