<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Coupon Warrior | Register</title>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="../scripts/reg.js"></script>
  </head>
  <body>
    <h1>Register</h1>

    <form class='regForm' action="/users/register" method="post">
      <label for="email">What's your email?</label>
      <input id='emailReg' name="email" type="text"/>
      <br/>

      <label for="password">Choose a Password</label>
      <input id='passReg' name="password" type="password"/>
      <br/>

      <input id='regBtn' type="submit"/>
    </form>
  </body>
</html>
