<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Coupon Warrior | Let the War Begin!</title>


    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>

  </head>

  <body class='mainB'>

    <% include ./partial/_navbar.ejs %>

    <h1>Let the war begin</h1>
    <div class="search">
      <form class="form-wrapper cf" action="/search/product" method="GET"/>
        <input type="text" name='category' id='prod1' placeholder="Insert a category (e.g Camera)" required/>
        </br>
        <input type="text" name='keywords' id='prod2' placeholder="Insert subcategory (e.g DSLR)" required/>
        </br>
        <input type="text" id='b1' name='brand1' placeholder="Insert a brand" required/>
        <input type="text" id='b2' name='brand2' placeholder="Insert a brand" required/>
        </br>

        <% if (message) { %>
          <p class="flash-error">
            <%= message %>
          </p>
        <% } %>

        <button id ="search-btn" type="submit">Search</button>

      </form>
    </div>


    <script>
      $(function() {
        var availableTags = [
          'Television', 'Phone', 'Camera', 'Console', 'Computer',
          'Laptop', 'Ultrabook', 'Headphones', 'Wearable Technology', 'Monitors', 'Tablets',
          'Printers', 'Speakers'
        ];
        var availableTags2 = [
          'curved', 'dslr', '55 inch', '65 inch', '3D', 'wireless', 'bluetooth', 'smart', 'gaming'
        ];
        $("#prod1").autocomplete({
          source: availableTags
        });
        $('#prod2').autocomplete({
          source: availableTags2
        });
      });
    </script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </body>
</html>
