<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Coupon Warrior | search</title>
  </head>
  <body>
    <h1></h1>

    <form action="/test" method="GET">
      <input name="product" type="text" placeholder="product"/>
      <br/>
      <input name="brand1" type="text" placeholder="brand"/>
      <br/>
      <input name="brand2" type="text" placeholder="brand"/>
      <br/>

      <input name="button" type="submit"/>
    </form>
  </body>
</html>
