<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>
  Image1: <img src="<%- image1 %>"/><br>
  Brand1: <%= brand1 %><br>
  ProductType1: <%= ProductType1 %><br>
  DetailPageURL1: <a href="<%- DetailPageURL1 %>">Link to AMZN product page</a><br><br>

 <script type="text/javascript" src="app.js"></script>
</body>

</html>
