<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <form action="/users/login" method="GET">
      <h4>Already registered? <button type="submit">Click here</button> to login<h4>
    </ul>
  </div>
</nav>