<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <form id='login-btn'action="/users/login" method="GET">
      <p>Already registered? <button id='login-btn' type="submit">Click here</button> to login<p>
    </ul>
  </div>
</nav>
