<nav>
  <div class="nav-wrapper">
    <div class="brand-logo">
      <a href="/" class="brand-logo"><img class="nav-logo" src="/images/logo%20copy.png"/></a>
    </div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

    <% if (!current_user) { %>
      <li>
        <form class="nav-menu_btn" action="/users/login" method="GET">
          Already registered?
          <button class="nav-menu_btn" type="submit">Click here</button> to login
        </form>
      </li>
    </ul>
  </div>
</nav>
    <% } else { %>

      <li class="sliding-menu">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      </li>
    </ul>
  </div>
</nav>

<aside>
  <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <div class="background">
      </div>

    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>

    <li class="theme-button">
      <form action="/users/logout" method="post">
        <button class="nav-menu_btn" type="submit">Logout</button>
      </form>
    </li>
  </ul>
</aside>
<% } %>