<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="users/login">Login</a></li>
      <li><a href="users/register">Register</a></li>
      <li>
        <form action="/users/logout" method="post">
          <button type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</nav>