<nav>
  <div class="nav-wrapper">
    <div class="brand-logo">
      <a href="/" class="brand-logo"><img src="/images/logo%20copy.png"/></a>
    </div>
    <ul id="nav-mobile" class="right">

    <% if (!current_user) { %>
      <li>
        <form class="nav-menu_btn" action="/users/login" method="GET">
          Already registered?
          <button class="nav-menu_btn" type="submit">Click here</button> to login
        </form>
      </li>
    </ul>
  </div>
</nav>
    <% } else { %>


      <li class="sliding-menu">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      </li>
    </ul>


    <h6 id='tkr'><%= current_user %> points</h6>
    <div id='pointsCnt'>
      <div class="meter">
        <span class="user-points"></span>
      </div>
<!-- <<<<<<< HEAD


    <h6 id='tkr'><%= current_user %></h6>
    <div class="meter">
      <span style="width: 1%"></span>
=======
>>>>>>> 856d0b5a617c13d4a2e0174f3a96991d68a1d1a2 -->
    </div>
  </div>
</nav>
<div class='aside'>
  <aside>
    <ul id="slide-out" class="side-nav">
      <li><div class="userView">
        <div class="background">
          <img src="https://www.tourismpei.com/sites/all/themes/askislander/assets/img/profile-img.png"/>
        </div>
        <div class="user-email">
         <%= current_user %>
        </div>
      </div></li>
      <li>
        <div class="user-list_heading hide">
          <i class="material-icons">&#xE157;</i> Items You Saved
        </div>
      </li>
      <li class="user-list">
        <span class="scroll-list hide"><em>(Scroll for more)</em></span>
        <div class="user-list_content">
        </div>
      </li>
      <li class="theme-button logout-btn">
        <form action="/users/logout" method="get">
          <button class="nav-menu_btn" id='logout' >Logout <i class="material-icons">&#xE879;</i></button>
        </form>
      </li>
    </ul>
  </aside>
</div>
  <% } %>
