<nav>
  <div class="nav-wrapper">
    <div class="brand-logo">
      <a href="/" class="brand-logo"><img class="nav-logo" src="/styles/images/logo%20copy.png"/></a>
    </div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <form action="/users/logout" method="post">
          <button class="nav-menu_btn" type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</nav>