<div class="card_results col"  id= 'cont'>

  <div id="winner-container" class ='res'>
  </div>
  <div id="loser-container" class ='res'>
  </div>
  <div id="message-container" class ='res'>
  </div>
  <div id="nextBtn">
  </div>
</div>
