<div class="card_results col">
  <section id="winner-container" class = 'res'>
  </section>
  <section id="loser-container" class = 'res'>
  </section>
  <section id="message-container" class = 'res'>
  </section>

</div>
