/* NAVIGATION VARIABLES */
$theme-background: rgba(200,54,54,0.68);
$primary: rgb(200,54,54);
$secondary: #101a24;
$text-font: #fff;
$hover-background: rgba(0,0,0,0.25);


/* TOP NAVIGATION BAR */
nav {
  padding: 0 2em;
  background: $theme-background;
  font-size: 1.2em;
  min-height: 64px;
  line-height: 64px;

  button:hover {
    background: $hover-background;
  }

  .brand-logo {
    left: 0;
    -webkit-transform:translateX(0);transform:translateX(0);

    img {
      height: 50px;
      width: auto;
    }
  }

  a, a.brand-logo {
    height: 100%;
    line-height: 54px;
    padding: 5px 0;
  }

  .sliding-menu {
    height: 100%;
    width: 100px;

    a, .button-collapse, .material-icons {
      height: 100%;
      line-height: 64px;
      display: inherit;
      font-style: normal;
    }
  }
}

.nav-menu_btn, .nav-menu_btn:focus {
  border: 0;
  background-color: transparent;
  height: 64px;
  text-shadow: 0;
  transition: ease all 0.3s;
}

// button.nav-menu_btn:hover {
//   background: rgba(0,0,0,0.25);
// }

/* SIDE NAVIGATION BAR */
// Styles go here
.side-nav {
  color: $text-font;
  background-color: $primary;
  height: 100vh;

  .userView {
    padding: 0;

    .background {
      height: auto;
      position: inherit;
      padding: 0;
      margin: 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    .user-email {
      font-size: 1.2em;
    }
  }

  .user-list_heading {
    background: $secondary;
  }

  .user-list {
    max-height: 40%;
    overflow-y: scroll;

    span {
      line-height: 25px;
      color: rgba(0,0,0,0.4);
    }

    .user-list_content {
      a, a:before, a:after, a:visited, a:hover, a:active {
        // font-family: Verdana, sans-serif;
        // color: #111;
        letter-spacing: 1px;
        text-transform: uppercase;
        min-height: 48px;
        height: auto;
        max-height: auto;
      }
    }

  }


  .logout-btn {
    margin-top: 20px;
    text-transform: uppercase;
  }

  .logout-btn:hover {
    background: $hover-background;
    transition: ease-in-out 0.5s;
  }
}


/* POINT TRACKER */

.meter {
	width: 480px;
  height: 30px;
  margin-top:18px;
  position:relative;
  margin-right: 10px;
  float:right;
	background: $secondary;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $primary;
  background-image: linear-gradient(
    center bottom,
    $primary 37%,
    rgb(255, 0, 0) 69%
  );
  transform: rotate(180deg);
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;

}

.meter > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

/* user_email */

#tkr{
  float:right;
  font-weight: lighter;
  margin-top: 25px;
  margin-right:15px;
}


/*coupons session*/

.couponBtn{
width:100%;
background: $theme-background;
}



#getCoupon, #getCoupon:focus {
  float:center;
  margin-top:80px;
  margin-left:80px;
  border: 0;
  background-color: transparent;
  height: 64px;
  text-shadow: 0;
  transition: ease all 0.3s;
}

#getCoupon:hover {
  background: rgba(0,0,0,0.25);
}

.user-points {
  width: 1%;
}
